%h1= raw Page::POSTS.title
%h2= raw Page::POSTS.sub_title

%ul#posts
  - @posts.each do |post|
    %li.post
      %h3
        %span.published_on= l(post.published_on)
        \-
        = raw post.title
      .content
        = truncate(raw(post.content), :length => 400)
        = link_to 'En savoir plus', post_path(post), :class => 'show_post'
        .spacer


= will_paginate @posts, :previous_label => 'page précédente', :next_label => "page suivante", :inner_window => 2