%ul#categories
  - @categories.each do |category|
    %li
      = link_to category_path(category) do
        = image_tag category.image.url
        %span= category.name

#text
  %h1= raw Page::HOME.title
  %h2= raw Page::HOME.sub_title

  .content
    = raw Content::HOME_MAIN_TEXT.text
    .bottom-link
      = link_to "VOIR TOUTES NOS RÉALISATIONS  >", category_path(Category.first)


#contact
  %h1= raw Content::HOME_CONTACT_TITLE.text
  .content
    %ul
      - @stores.each do |store|
        %li
          %div= store.street
          %div= [store.zip_code, store.city].join(' ').upcase
          .phone= "Tel. #{store.phone_number}"
          .fax= "Fax. #{store.fax_number}"

  .bottom-link
    = link_to  "Nous envoyer un mail >", contacts_path






#posts
  %h1= raw Content::HOME_EVENTS_TITLE.text
  %ul
    - @posts.each do |post|
      %li
        %h3
          %span.published_on= l(post.published_on)
          \-
          = raw post.title
        .content
          = truncate(raw(post.content), :length => 240)
          = link_to 'voir la suite', post_path(post)


